* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(206, 206, 206);
}

div {
    display: flex;
    justify-content: center;
    flex: 1 0 300px;
    align-items: center;

    text-align: center;
    background-color: darkred;
    color: white;
    font-size: 40px;

    margin: 5px;
    height: 150px;
}

#sqr1 {
    /*flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 650px; pode ser simplificado em:*/
    flex: 2 1 650px;
}

#sqr4, #sqr5 {
    flex: 1 0 140px;
}

#sqr6 {
    flex-grow: 2;
}